.env
.venv
.vscode
generated_docs/
openshift/
node_modules/
package-lock.json

# Offline static files for Swagger UI and ReDoc
# api/static/*.js
# api/static/*.css
# api/static/*.png
# api/static/*.map
