stages:
  - install
  - static_code_analysis
  - test
  - build
  - deploy

variables:
  PYTHON_IMAGE: "python:3.12-slim"
  POETRY_VERSION: "1.8.3"
  DOCKER_IMAGE: "docker:18.09"

.base_job:
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
    - if: '$CI_COMMIT_TAG'

.base_job_build_docker_image:
  stage: build
  image:
    name: docker:24.0.5
  services:
    - docker:24.0.5-dind
  tags:
    - docker-sfdx-2
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
    ACR_HOSTNAME: "magnetai.azurecr.io"
    IMAGE_NAME: "${ACR_HOSTNAME}/magnet-ai"
  before_script:
    # Login to Azure Container Registry
    - echo "${ACR_PASSWORD}" | docker login ${ACR_HOSTNAME} -u ${ACR_USERNAME} --password-stdin

# api_install_job:
#   extends: .base_job
#   stage: install
#   image: ${PYTHON_IMAGE}
#   tags:
#     - docker-sfdx-2
#   script:
#     - cd api
#     - pip install --no-cache-dir poetry==${POETRY_VERSION}
#     - poetry install --no-interaction
  
#   cache:
#     key: python-dependencies
#     policy: push
#     paths:
#       - api/.venv/


# api_lint_job:
#   extends: .base_job
#   stage: static_code_analysis
#   image: ${PYTHON_IMAGE}
#   tags:
#     - docker-sfdx-2
#   script:
#     - cd api
#     - pip install --no-cache-dir poetry==${POETRY_VERSION}
#     - poetry install --no-interaction
#     - poetry run ruff check .
#   cache:
#     key: python-dependencies
#     paths:
#       - api/.venv/
#     policy: pull

# test_job:
#   extends: .base_job
#   stage: test
#   image: ${PYTHON_IMAGE}
#   allow_failure: true
#   tags:
#     - docker-sfdx-2
#   script:
#     - pip install --no-cache-dir poetry==${POETRY_VERSION}
#     - poetry install --no-interaction
#     - poetry run pytest -v -s
#   cache:
#     key: python-dependencies
#     paths:
#       - .venv/
#     policy: pull

build_docker_image_tagged_job:
  extends: .base_job_build_docker_image
  rules:
    - if: '$CI_COMMIT_TAG'
  script:
    - |
      # Check if the tag matches the v<semver> format
      if echo "$CI_COMMIT_TAG" | grep -qE '^v[0-9]+(\.[0-9]+){0,2}(-[0-9A-Za-z.-]+)?$'; then
        # Remove the 'v' prefix from the tag
        TAG="${CI_COMMIT_TAG#v}"
      else
        # If not a valid v<semver> tag, use the original tag
        TAG="$CI_COMMIT_TAG"
      fi
    - echo "$CI_COMMIT_TAG"
    - echo "$TAG"

    # Pull the latest image to enable caching
    - docker pull ${IMAGE_NAME}:latest || true

    - docker build -t ${IMAGE_NAME}:${TAG} .

    - docker push ${IMAGE_NAME}:${TAG}

build_docker_image_latest_job:
  extends: .base_job_build_docker_image
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
  script:
    # Pull the latest image to enable caching
    - docker pull ${IMAGE_NAME}:latest || true

    - docker tag ${IMAGE_NAME}:latest ${IMAGE_NAME}:previous

    - docker build -t ${IMAGE_NAME}:latest .

    - docker push ${IMAGE_NAME}:latest
    - docker push ${IMAGE_NAME}:previous


# deploy_to_azure_container_app_latest_job:
#   stage: deploy
#   image: mcr.microsoft.com/azure-cli:2.9.1
#   tags:
#     - docker-sfdx-2
#   rules:
#     - if: '$CI_COMMIT_REF_NAME == "main"'
#   variables:

#     AZURE_CONTAINER_APP_NAME: "magnet-ai"
#     AZURE_RESOURCE_GROUP: "Ideaport-Magnet-AI"
#   script:
#     # Login to Azure
#     - az login --service-principal -u $AZURE_CLIENT_ID -p $AZURE_CLIENT_SECRET --tenant $AZURE_TENANT_ID

#     # Set variables
#     - IMAGE_TAG="${CI_COMMIT_TAG#v}"
#     - IMAGE_TAG="${IMAGE_TAG:-latest}"

#     # Update the Container App with new image
#     - az containerapp update --name $AZURE_CONTAINER_APP_NAME --resource-group $AZURE_RESOURCE_GROUP --image $ACR_HOSTNAME/$AZURE_CONTAINER_APP_NAME:$IMAGE_TAG

#     # TODO sync env variables & secrets
  
#     # Optionally update environment variables (example)
#     # - az containerapp update --name $AZURE_CONTAINER_APP_NAME --resource-group $AZURE_RESOURCE_GROUP --set-env-vars KEY1=VALUE1 KEY2=VALUE2

