version: 1
formatters:
    simple:
        format: '%(asctime)s - %(levelname)s - %(name)s %(filename)s:%(lineno)s - %(message)s'
    detailed:
        format: '%(asctime)s - %(levelname)s - %(name)s - %(funcName)s:%(lineno)s - %(message)s'
handlers:
    consoleHandler:
        class: logging.StreamHandler
        level: INFO
        formatter: simple
        stream: ext://sys.stdout
    fileHandler:
        class: logging.FileHandler
        level: INFO
        formatter: detailed
        filename: app.log
        mode: a
    errorHandler:
        class: logging.FileHandler
        level: ERROR
        formatter: detailed
        filename: errors.log
        mode: a
    sqlHandler:
        class: logging.FileHandler
        level: INFO
        formatter: detailed
        filename: sql.log
        mode: a
loggers:
    sqlalchemy.engine:
        level: INFO
        handlers: [consoleHandler, sqlHandler]
        propagate: false
    sqlalchemy.engine.error:
        level: ERROR
        handlers: [consoleHandler, errorHandler, sqlHandler]
        propagate: false
    sqlalchemy.dialects:
        level: INFO
        handlers: [sqlHandler]
        propagate: false
    sqlalchemy.pool:
        level: INFO
        handlers: [sqlHandler]
        propagate: false
    sqlalchemy.orm:
        level: INFO
        handlers: [sqlHandler]
        propagate: false
    middlewares.database_error:
        level: ERROR
        handlers: [consoleHandler, errorHandler]
        propagate: false
root:
    level: INFO
    handlers: [consoleHandler, fileHandler]
