name: Greetings

on: [pull_request_target, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: 'Hello! Thank you for opening your first issue. We appreciate your contribution and will look into it as soon as possible.'
        pr-message: 'Hello! Thank you for opening your first pull request. We appreciate your contribution and will review it soon.'
