stages:
  - install
  - build
  - docker
  - deploy

variables:
  NODE_IMAGE: "node:20.17.0-alpine"
  VERSION: "1.0.${CI_PIPELINE_IID}"

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - node_modules/
    - .yarn
    - .nx

.base-job:
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
    - if: '$CI_COMMIT_REF_NAME == "test"'
    - if: '$CI_COMMIT_TAG =~ /^v\d+(\.\d+){0,2}(-[0-9A-Za-z.-]+)?$/'

.base-job-environment-specific:
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
      variables:
        ENVIRONMENT: "demo"
    - if: '$CI_COMMIT_REF_NAME == "test"'
      variables:
        ENVIRONMENT: "test"
  environment:
    name: $ENVIRONMENT

install-job:
  extends: .base-job
  stage: install
  image: ${NODE_IMAGE}
  tags:
    - docker-sfdx-2
  script:
    - corepack enable
    - yarn install --immutable

# lint-job:
#   extends: .base-job
#   stage: build
#   image: ${NODE_IMAGE}
#   tags:
#     - docker-sfdx-2
#   script:
#     - yarn install --frozen-lockfile
#     - yarn nx run-many --target=lint --projects=magnet-panel,magnet-admin

# format_job:
#   extends: .base-job
#   stage: code_quality_check
#   image: ${NODE_IMAGE}
#   tags:
#     - docker-sfdx-2
#   allow_failure: true
#   script:
#     - yarn install --frozen-lockfile
#     - yarn format

.build-job:
  extends: .base-job
  stage: build
  image: ${NODE_IMAGE}
  tags:
    - docker-sfdx-2
  cache:
    - key:
        files:
          - yarn.lock
      paths:
        - .yarn-cache/

build-app-job:
  extends: .build-job
  script:
    - corepack enable
    - yarn install --immutable
    - yarn nx build magnet-admin
  artifacts:
    paths:
      - knowledge-magnet/admin/app
    expire_in: 1 day

build-panel-job:
  extends: .build-job
  script:
    - corepack enable
    - yarn install --immutable
    - yarn nx build magnet-panel
  artifacts:
    paths:
      - knowledge-magnet/panel/app
    expire_in: 1 day

build-docs-job:
  extends: .build-job
  script:
    - corepack enable
    - yarn install --immutable
    - yarn nx build magnet-docs

.build-docker-job:
  extends: .base-job-environment-specific
  stage: docker
  environment:
    name: $ENVIRONMENT
  image:
    name: docker:24.0.5
  services:
    - docker:24.0.5-dind
  tags:
    - docker-sfdx-2
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
    IMAGE_NAME: "${ACR_NAME}.azurecr.io/${ENVIRONMENT}/magnet-ai-frontend-${SUFFIX}"
    IMAGE_TAG: ${VERSION}
  script:
    # Pull the latest image to enable caching
    - docker pull ${IMAGE_NAME}:latest || true

    # Set up Docker Buildx
    - docker buildx create --driver docker-container --use
    - docker buildx inspect --bootstrap

    # Login to Azure Container Registry
    - echo "${ACR_PASSWORD}" | docker login ${ACR_NAME}.azurecr.io -u ${ACR_USERNAME} --password-stdin

    # Build and push multi-arch image
    - docker buildx build --build-arg BUILDKIT_INLINE_CACHE=1 --cache-from ${IMAGE_NAME}:latest --platform linux/amd64,linux/arm64 --push -t "${IMAGE_NAME}:${IMAGE_TAG}" -f "${DOCKERFILE_PATH}/Dockerfile" "${CI_PROJECT_DIR}"
    

build-app-docker-job:
  extends: .build-docker-job
  needs:
    - build-app-job
    - build-docs-job
  variables:
    DOCKERFILE_PATH: "${CI_PROJECT_DIR}/apps/@ipr/magnet-admin"
    SUFFIX: app

build-panel-docker-job:
  extends: .build-docker-job
  needs:
    - build-panel-job
  variables:
    DOCKERFILE_PATH: "${CI_PROJECT_DIR}/apps/@ipr/magnet-panel"
    SUFFIX: panel

apply-terraform-job:
  extends: .base-job-environment-specific
  stage: deploy
  needs:
    - build-app-docker-job
    - build-panel-docker-job
  environment:
    name: $ENVIRONMENT
  image:
    name: hashicorp/terraform:latest
    entrypoint: [""]
  tags:
    - docker-sfdx-2
  variables:
    TF_ROOT: ${CI_PROJECT_DIR}/terraform
    TF_ADDRESS: ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/terraform/state/${ENVIRONMENT}
    TF_VAR_environment: $ENVIRONMENT
    TF_VAR_subscription_id: $ARM_SUBSCRIPTION_ID
    TF_VAR_resource_group_name: $RESOURCE_GROUP_NAME
    TF_VAR_acr_name: $ACR_NAME
    TF_VAR_acr_password: $ACR_PASSWORD
    TF_VAR_acr_username: $ACR_USERNAME
    TF_VAR_image_tag: $VERSION
    TF_VAR_aibridge_base_url: $BASE_URL_AIBRIDGE
    TF_VAR_agents_base_url: $BASE_URL_AGENTS
    TF_VAR_salesforce_base_url: $BASE_URL_SALESFORCE
  script:
    - cd ${TF_ROOT}
    - terraform --version
    - terraform init
        -backend-config="address=${TF_ADDRESS}"
        -backend-config="lock_address=${TF_ADDRESS}/lock"
        -backend-config="unlock_address=${TF_ADDRESS}/lock"
        -backend-config="username=gitlab-ci-token"
        -backend-config="password=${CI_JOB_TOKEN}"
        -backend-config="lock_method=POST"
        -backend-config="unlock_method=DELETE"
        -backend-config="retry_wait_min=5"
    - terraform apply -auto-approve

commit_to_releases_repo:
  stage: deploy
  image: alpine:3.21
  cache: []
  tags:
    - docker-sfdx-2

  rules:
    - if: '$CI_COMMIT_TAG =~ /^v\d+(\.\d+){0,2}(-[0-9A-Za-z.-]+)?$/'

  before_script:
    - apk add --no-cache git

  script:
    - cd ..
    - rm -rf releases-repo

    # Clone the releases repository
    - git clone  --no-checkout --depth=1 "https://ci:${RELEASE_REPO_TOKEN}@cbox.ideaportriga.lv/ai-research/knowledge-magnet-ui-releases.git" releases-repo

    # Copy all files from source repo to target repo except .git repository
    - find "$CI_PROJECT_DIR" -mindepth 1 -maxdepth 1 ! -name ".git" -exec cp -r {} releases-repo/ \;
    - cd releases-repo
    - VERSION="${CI_COMMIT_TAG#v}"
    
    # Exclude include internal files
    - rm -rf scripts/
    - rm -rf terraform/
    - rm -f README_internal.md
    - rm -f .gitlab-ci.yml

    - git config user.name "magnetai.dev"
    - git config user.email "magnetai.dev@ideaportriga.com"
    - git add .
    - git commit -m "Release version ${VERSION}" --allow-empty
    - git tag "${CI_COMMIT_TAG}"
    - git push origin main
    - git push origin "${CI_COMMIT_TAG}"
